html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #000;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  font-size: 14pt;
  line-height: 45px;
  -webkit-box-shadow: 0 0 15px #444;
  box-shadow: 0 0 15px #444;
  z-index: 9;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.1)), color-stop(0.5, rgba(255,255,255,0.1)), color-stop(1, rgba(255,255,255,0.2))) #400;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%) #400;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%) #400;
  background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%) #400;
  background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%) #400;
  background: linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.2) 100%) #400;
}
html header nav {
  display: inline-block;
  padding: 0;
  margin: 0;
}
html header nav li {
  list-style: none;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}
html header nav li a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 0 10px;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 45px;
  line-height: 45px;
  border-left: solid 1px rgba(255,255,255,0.2);
  border-right: solid 1px rgba(255,255,255,0.1);
}
html header nav li a:hover,
html header nav li a:active {
  background: rgba(0,0,0,0.4);
  text-shadow: 0 1px 1px #000;
  text-decoration: none;
  color: #fff;
}
html header nav li:first-child a {
  border-left: none;
}
html header nav li:last-child a {
  border-right: none;
}
html aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 45px;
  width: 45px;
  -webkit-transition: box-shadow 0.45s ease-in-out;
  -moz-transition: box-shadow 0.45s ease-in-out;
  -o-transition: box-shadow 0.45s ease-in-out;
  -ms-transition: box-shadow 0.45s ease-in-out;
  transition: box-shadow 0.45s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.18359999999999999, #fff), color-stop(1, rgba(255,255,255,0))) no-repeat;
  background: -webkit-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -moz-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -o-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -ms-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background-position: -300px 0;
  -webkit-transition-property: height, bottom, background-position, opacity;
  -moz-transition-property: height, bottom, background-position, opacity;
  -o-transition-property: height, bottom, background-position, opacity;
  -ms-transition-property: height, bottom, background-position, opacity;
  transition-property: height, bottom, background-position, opacity;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  z-index: 9;
}
html aside>* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html aside>i {
  line-height: 45px !important;
  height: 45px !important;
  width: 45px !important;
  font-size: 14pt;
  text-align: center;
  background: #fff;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  top: 0;
  left: 0;
  position: absolute;
}
html aside>nav {
  display: none;
}
html aside:hover {
  height: 100%;
  bottom: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html aside:hover>i {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
html aside:hover>nav {
  display: block;
  background: #fff;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  border-top: solid 1px #fff;
  width: 45px;
  -webkit-box-shadow: 0 0 5px #444;
  box-shadow: 0 0 5px #444;
}
html aside:hover>nav nav {
  display: none;
}
html aside:hover>nav li {
  list-style: none;
  display: block;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  position: relative;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
html aside:hover>nav li>i {
  width: 45px !important;
  height: 45px !important;
  text-align: center;
  line-height: 45px;
  background: #fff;
}
html aside:hover>nav li:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html aside:hover>nav li:hover>i {
  color: #fff;
  background: #808080;
}
html aside:hover>nav li:hover nav {
  display: block;
  position: absolute;
  left: 45px;
  right: -245px;
  top: -1px;
  background: #fff;
  border: solid 1px #c4c4c4;
  border-left: none;
}
html aside:hover>nav li:hover nav li {
  display: block;
  padding: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  padding: 0 25px;
  line-height: 45px;
  height: 45px;
  text-align: left;
  color: #808080;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
html aside:hover>nav li:hover nav li a,
html aside:hover>nav li:hover nav li a:visited,
html aside:hover>nav li:hover nav li a:hover,
html aside:hover>nav li:hover nav li a:link {
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
html aside:hover>nav li:hover nav li:first-child {
  background: #808080;
  color: #bfbfbf;
}
html aside:hover>nav li:hover nav li:first-child:hover {
  color: #fff;
}
html aside:hover>nav li:hover nav li:hover {
  color: #000;
}
html section {
  position: fixed;
  overflow: hidden;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
}
html section article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 950px;
  margin: 0 auto;
  padding: 25px;
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  transform: translateX(-150%);
}
html section article p {
  text-indent: 25px;
}
html section article .right {
  margin-right: 0;
  float: right;
  clear: right;
}
html section article .left {
  margin-left: 0;
  float: left;
  clear: left;
}
html section article .center {
  clear: both;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
html section article img {
  margin: 15px;
  background: #fff;
  border: solid 1px #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
html section article figure {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
  display: table;
  width: 1px;
}
html section article figure figcaption {
  text-align: center;
  margin: 10px 0 0;
  padding: 5px;
  font-size: 10pt;
}
html section article figure img {
  border: none;
  padding: 0;
  margin: 0 0 10px;
  display: inline;
}
html section article figure * {
  vertical-align: bottom;
  display: table-row;
  max-width: 880px;
}
html section article figure.right *,
html section article figure.left * {
  max-width: 200px;
}
html section article figure.right.big,
html section article figure.left.big {
  border: none;
}
html section article figure.right.big *,
html section article figure.left.big * {
  max-width: 500px;
}
html section article .center figure.center {
  width: 22%;
  float: left;
  clear: none;
  height: 150px;
}
html section article#home {
  background: urL("/images/7379.jpg") no-repeat center center;
  -webkit-background-size: stretch;
  -moz-background-size: stretch;
  background-size: stretch;
  width: 100%;
}
html section article.active {
  z-index: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
html section article.active + article {
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -o-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transform: translateX(150%);
}
html section article.active + article + article {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -o-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}
html section article.active + article + article + article {
  -webkit-transform: translateX(250%);
  -moz-transform: translateX(250%);
  -o-transform: translateX(250%);
  -ms-transform: translateX(250%);
  transform: translateX(250%);
}
html section article.active + article + article + article + article {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -o-transform: translateX(300%);
  -ms-transform: translateX(300%);
  transform: translateX(300%);
}
html section article.active + article + article + article + article + article {
  -webkit-transform: translateX(350%);
  -moz-transform: translateX(350%);
  -o-transform: translateX(350%);
  -ms-transform: translateX(350%);
  transform: translateX(350%);
}
html section article.active + article + article + article + article + article + article {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -o-transform: translateX(400%);
  -ms-transform: translateX(400%);
  transform: translateX(400%);
}
html section article img {
  padding: 5px;
  background: #fff;
  border: solid 1px #ccc;
  margin: 5px;
}
html section article img.right {
  float: right !important;
  margin-right: none;
}
html section article img.left {
  float: left !important;
  margin-left: none;
}
html section article img.center {
  margin-left: none;
  margin-right: none;
}
html section article ul li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: circle;
  display: table;
}
html section article ul li img {
  max-width: 200px;
  max-height: 200px;
  float: left;
}
html section article ul li p {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
html section article table {
  width: 100%;
  background: #300;
  margin-top: 25px;
}
html section article table tr {
  background: rgba(255,255,255,0.1);
}
html section article table tr:nth-child(odd) {
  background: rgba(255,255,255,0.15);
}
html section article table tr td,
html section article table tr th {
  padding: 5px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  color: #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html section article table tr td:hover,
html section article table tr th:hover {
  color: #fff;
}
html section article table tr td:last-child,
html section article table tr th:last-child {
  border-right: none;
}
html section article table tr th {
  background: rgba(0,0,0,0);
  color: #fff;
  font-size: 1.2em;
}
html body.aside-open aside {
  background-position: 0 0;
  width: 300px;
}
html body#imagini article {
  text-align: center;
}
html body#imagini article img {
  width: 250px;
  height: 175px;
}
html ::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
