html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
  text: #000;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html body header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: auto;
  background: #000;
}
html body header h1 {
  display: none;
}
html body header nav {
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
html body header nav img {
  border: none;
  background: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 412px;
  margin: -206px 0 0 -300px;
  padding: 0;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
html body header nav li {
  list-style: none;
}
html body header nav li img {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
html body header nav li img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html body.active nav {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
html body aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 45px;
  width: 45px;
  -webkit-transition: box-shadow 0.45s ease-in-out;
  -moz-transition: box-shadow 0.45s ease-in-out;
  -o-transition: box-shadow 0.45s ease-in-out;
  -ms-transition: box-shadow 0.45s ease-in-out;
  transition: box-shadow 0.45s ease-in-out;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.18359999999999999, #fff), color-stop(1, rgba(255,255,255,0))) no-repeat;
  background: -webkit-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -moz-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -o-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: -ms-linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background: linear-gradient(left, #fff 0%, #fff 18.36%, rgba(255,255,255,0) 100%) no-repeat;
  background-position: -300px 0;
  -webkit-transition-property: height, bottom, background-position, opacity;
  -moz-transition-property: height, bottom, background-position, opacity;
  -o-transition-property: height, bottom, background-position, opacity;
  -ms-transition-property: height, bottom, background-position, opacity;
  transition-property: height, bottom, background-position, opacity;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  z-index: 9;
}
html body aside>* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body aside>i {
  line-height: 45px !important;
  height: 45px !important;
  width: 45px !important;
  font-size: 14pt;
  text-align: center;
  background: #fff;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  top: 0;
  left: 0;
  position: absolute;
}
html body aside>nav {
  display: none;
}
html body aside:hover {
  height: 100%;
  bottom: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html body aside:hover>i {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
html body aside:hover>nav {
  display: block;
  background: #fff;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  padding-top: 50px;
  bottom: 0;
  border-top: solid 1px #fff;
  width: 45px;
  -webkit-box-shadow: 0 0 5px #444;
  box-shadow: 0 0 5px #444;
}
html body aside:hover>nav nav {
  display: none;
}
html body aside:hover>nav li {
  list-style: none;
  display: block;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  position: relative;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}
html body aside:hover>nav li>i {
  width: 45px !important;
  height: 45px !important;
  text-align: center;
  line-height: 45px;
  background: #fff;
}
html body aside:hover>nav li:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
html body aside:hover>nav li:hover>i {
  color: #fff;
  background: #808080;
}
html body aside:hover>nav li:hover nav {
  display: block;
  position: absolute;
  left: 45px;
  right: -245px;
  top: -1px;
  background: #fff;
  border: solid 1px #c4c4c4;
  border-left: none;
}
html body aside:hover>nav li:hover nav li {
  display: block;
  padding: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  padding: 0 25px;
  line-height: 45px;
  height: 45px;
  text-align: left;
  color: #808080;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
html body aside:hover>nav li:hover nav li a,
html body aside:hover>nav li:hover nav li a:visited,
html body aside:hover>nav li:hover nav li a:hover,
html body aside:hover>nav li:hover nav li a:link {
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
html body aside:hover>nav li:hover nav li:first-child {
  background: #808080;
  color: #bfbfbf;
}
html body aside:hover>nav li:hover nav li:first-child:hover {
  color: #fff;
}
html body aside:hover>nav li:hover nav li:hover {
  color: #000;
}
html body section {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
html body section article {
  position: fixed;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  padding-top: 100px;
}
html body section article.active {
  top: 0;
}
html body section article > div {
  max-width: 920px;
  padding: 0 20px;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
  overflow-y: auto;
  margin: 0 auto;
}
html body section article > div > *:first-child {
  margin-top: 25px;
}
html body section article > div > *:last-child {
  margin-bottom: 25px;
}
html body section article figure {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
  width: 1px;
}
html body section article figure figcaption {
  text-align: center;
  margin: 10px 0 0;
  padding: 5px;
  font-size: 10pt;
}
html body section article figure img {
  border: none;
  background: #000;
  padding: 0;
  margin: 0 0 10px;
  display: inline;
}
html body section article figure * {
  vertical-align: bottom;
  max-width: 880px;
}
html body section article figure.right *,
html body section article figure.left * {
  max-width: 200px;
}
html body section article .center figure.center {
  width: 22%;
  clear: none;
  height: 150px;
}
html body.active section {
  z-index: 2;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
html body.aside-open aside {
  background-position: 0 0;
  width: 300px;
}
html body header li img {
  display: none;
}
html body header li#dobrogea img {
  display: block;
  width: 138px;
  height: 149px;
  margin: -74.5px 0 -69px;
  -webkit-transform: translateX(129px) translateY(113px);
  -moz-transform: translateX(129px) translateY(113px);
  -o-transform: translateX(129px) translateY(113px);
  -ms-transform: translateX(129px) translateY(113px);
  transform: translateX(129px) translateY(113px);
}
html body header li#muntenia img {
  display: block;
  width: 232px;
  height: 184px;
  margin: -92px 0 -116px;
  -webkit-transform: translateX(-59px) translateY(102px);
  -moz-transform: translateX(-59px) translateY(102px);
  -o-transform: translateX(-59px) translateY(102px);
  -ms-transform: translateX(-59px) translateY(102px);
  transform: translateX(-59px) translateY(102px);
}
html body header li#oltenia img {
  display: block;
  width: 187px;
  height: 166px;
  margin: -83px 0 -93.5px;
  -webkit-transform: translateX(-209px) translateY(112px);
  -moz-transform: translateX(-209px) translateY(112px);
  -o-transform: translateX(-209px) translateY(112px);
  -ms-transform: translateX(-209px) translateY(112px);
  transform: translateX(-209px) translateY(112px);
}
html body header li#banat img {
  display: block;
  width: 135px;
  height: 160px;
  margin: -80px 0 -67.5px;
  -webkit-transform: translateX(-292px) translateY(37px);
  -moz-transform: translateX(-292px) translateY(37px);
  -o-transform: translateX(-292px) translateY(37px);
  -ms-transform: translateX(-292px) translateY(37px);
  transform: translateX(-292px) translateY(37px);
}
html body header li#crisana img {
  display: block;
  width: 92px;
  height: 115px;
  margin: -57.5px 0 -46px;
  -webkit-transform: translateX(-237px) translateY(-85px);
  -moz-transform: translateX(-237px) translateY(-85px);
  -o-transform: translateX(-237px) translateY(-85px);
  -ms-transform: translateX(-237px) translateY(-85px);
  transform: translateX(-237px) translateY(-85px);
}
html body header li#maramures img {
  display: block;
  width: 160px;
  height: 70px;
  margin: -35px 0 -80px;
  -webkit-transform: translateX(-182px) translateY(-146px);
  -moz-transform: translateX(-182px) translateY(-146px);
  -o-transform: translateX(-182px) translateY(-146px);
  -ms-transform: translateX(-182px) translateY(-146px);
  transform: translateX(-182px) translateY(-146px);
}
html body header li#bucovina img {
  display: block;
  width: 94px;
  height: 74px;
  margin: -37px 0 -47px;
  -webkit-transform: translateX(-29px) translateY(-132px);
  -moz-transform: translateX(-29px) translateY(-132px);
  -o-transform: translateX(-29px) translateY(-132px);
  -ms-transform: translateX(-29px) translateY(-132px);
  transform: translateX(-29px) translateY(-132px);
}
html body header li#moldova img {
  display: block;
  width: 162px;
  height: 245px;
  margin: -122.5px 0 -81px;
  -webkit-transform: translateX(13px) translateY(-73px);
  -moz-transform: translateX(13px) translateY(-73px);
  -o-transform: translateX(13px) translateY(-73px);
  -ms-transform: translateX(13px) translateY(-73px);
  transform: translateX(13px) translateY(-73px);
}
html body header li#transilvania img {
  display: block;
  width: 253px;
  height: 191px;
  margin: -95.5px 0 -126.5px;
  -webkit-transform: translateX(-187px) translateY(-37px);
  -moz-transform: translateX(-187px) translateY(-37px);
  -o-transform: translateX(-187px) translateY(-37px);
  -ms-transform: translateX(-187px) translateY(-37px);
  transform: translateX(-187px) translateY(-37px);
}
html body .right {
  margin-right: 0;
  float: right;
  clear: right;
}
html body .left {
  margin-left: 0;
  float: left;
  clear: left;
}
html body .center {
  clear: both;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
html body img {
  margin: 15px;
  background: #fff;
  border: solid 1px #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
html body figure {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
  display: table;
  width: 1px;
}
html body figure figcaption {
  text-align: center;
  margin: 10px 0 0;
  padding: 5px;
  font-size: 10pt;
}
html body figure img {
  border: none;
  background: #000;
  padding: 0;
  margin: 0 0 10px;
  display: inline;
}
html body figure * {
  vertical-align: bottom;
  display: table-row;
  max-width: 880px;
}
html body figure.right *,
html body figure.left * {
  max-width: 200px;
}
html body .center figure.center {
  width: 22%;
  float: left;
  clear: none;
  height: 150px;
}
html body ::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
html body ::-webkit-scrollbar-track {
  background: transparent;
}
html body ::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -ms-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
html body ::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
