header
	li
		img
			display none
		&#dobrogea img
			display block
			width 138px
			height 149px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(129px) translateY(113px)
		&#muntenia img
			display block
			width 232px
			height 184px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-59px) translateY(102px)
		&#oltenia img
			display block
			width 187px
			height 166px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-209px) translateY(112px)
		&#banat img
			display block
			width 135px
			height 160px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-292px) translateY(37px)
		&#crisana img
			display block
			width 92px
			height 115px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-237px) translateY(-85px)
		&#maramures img
			display block
			width 160px
			height 70px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-182px) translateY(-146px)
		&#bucovina img
			display block
			width 94px
			height 74px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-29px) translateY(-132px)
		&#moldova img
			display block
			width 162px
			height 245px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(13px) translateY(-73px)
		&#transilvania img
			display block
			width 253px
			height 191px
			margin -(@height / 2) 0 0 -(@width / 2)
			transform translateX(-187px) translateY(-37px)