header
	li
		&#tsunami
			background-image url("/images/tsunami.jpg")
		&#inundatii
			background-image url("/images/Floods 1.1.1.0 Tab 2 of 4_1.jpg")
		&#vulcani
			background-image url("/images/volcano.jpg")
		&#cutremure
			background-image url("/images/cutremure.jpg")
		&#seceta
			background-image url("/images/seceta-cover.jpg")
		&#tornade
			background-image url("/images/tornade.jpg")