header
	position fixed
	left 0
	top 0
	bottom 0
	right 0
	z-index 1
	overflow auto
	background black
	h1
		display none
	nav
		background white
		position fixed
		left 0
		right 0
		bottom 0
		top 0
		transition opacity 0.5s ease-in-out
		img
			border none
			background none
			position fixed
			left 50%
			top 50%
			width 600px
			height 412px
			margin -206px 0 0 -300px
			padding 0
			opacity 0.3
		li
			list-style none
			img
				transition opacity 0.3s ease-in-out
				&:hover
					opacity 1
&.active
	nav
		opacity 0.2