header
	position fixed
	bottom 0
	left 0
	right 0
	height 45px
	font-size 14pt
	line-height 45px
	box-shadow 0 0 5px #444
	z-index 9
	text-align center	
	background linear-gradient(top, #24c 0%, #26c 50%, #29f 100%)
	nav 
		display inline-block
		padding 0
		margin 0
		li
			list-style none
			text-align left
			display inline-block
			margin 0
			padding 0
			float left
			a
				display block
				color rgba(256, 256, 256, 0.6)
				text-decoration none
				padding 0 10px
				margin 0
				transition all 0.5s ease-in-out
				height 45px
				line-height 45px
				border-left solid 1px #29f
				border-right solid 1px #26c
				&:hover, &:active
					background rgba(0, 0, 0, 0.1)
					text-decoration none
					color rgba(256, 256, 256, 1)
			&:first-child a
				border-left none
			&:last-child a
				border-right none
