section
	position fixed
	overflow hidden
	top 45px 
	bottom 0
	right 0
	left 0
	article
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		overflow auto
		z-index -1
		transform translateY(-100%)
		transition all 0.5s ease-in-out
		width 1000px
		margin 0 auto
		&#home 
			background urL("/images/Castelul_Peles_3.jpg") no-repeat
			background-size cover
			width 100%
		&.active
			z-index 1
			transform translateY(0)
		& + article
			transform translateY(100%)
