section
	position fixed
	overflow hidden
	top 45px 
	bottom 0
	right 0
	left 0
	perspective 600
	article
		position absolute
		left 0
		right 0
		top 0
		bottom 15px
		overflow auto
		z-index -1
		transition all 1s ease-in-out
		width 950px
		margin 0 auto
		padding 25px
		border-bottom-right-radius 10px
		border-bottom-left-radius 10px
		p
			text-indent 25px
		.right
			margin-right 0
			float right
			clear right
		.left
			margin-left 0
			float left
			clear left
		.center
			clear both
			text-align center
			margin 0 auto
			overflow hidden
		img 
			margin 15px
			background white
			border solid 1px #ccc
			border-radius 5px
			padding 5px
		figure
			background white
			border-radius 5px 
			border solid 1px #ccc
			padding 10px
			text-align center
			display table
			width 1px
			figcaption
				text-align center
				margin 10px 0 0
				padding 5px
				font-size 10pt
			img
				border none
				padding 0
				margin 0 0 10px
				display inline
			* 
				vertical-align bottom
				display table-row
				max-width 880px
			&.right *, &.left *
				max-width 200px
			&.right.big, &.left.big
				border none
				*
					max-width 500px
		.center figure.center
				width 22%
				float left
				clear none
				height 150px
		transform rotateX(-90deg)
		transform-origin center top
		box-shadow 0 0 10px #444
		background #fec
		&#home 
			background url("/images/home.jpg") no-repeat center center white
			background-size contain
			transform-origin center bottom
			transform rotateX(180deg)
			bottom 0
			border-radius none
			width 100%
		&.active
			z-index 1
			transform rotateX(0) !important
		&.active + article
			transform rotateX(90deg)
		&.active + article + article
			transform rotateX(90deg)
		&.active + article + article + article
			transform rotateX(90deg)
		&.active + article + article + article + article
			transform rotateX(90deg)	
		&.active + article + article + article + article + article
			transform rotateX(90deg)	
		&.active + article + article + article + article + article + article
			transform rotateX(90deg)	
		&.active + article + article + article + article + article + article + article
			transform rotateX(90deg)	
		img
			padding 5px
			background white
			border solid 1px #ccc
			margin 5px
			&.right
				float right !important
				margin-right none
			&.left 
				float left !important
				margin-left none
			&.center
				margin-left none
				margin-right none
		ul li
			margin 0
			padding 0
			img
				max-width 200px
				max-height 200px
				float left
			p
				vertical-align middle
				padding 15px
		table
			width 100%
			background #300
			margin-top 25px
			tr
				background rgba(256, 256, 256, 0.1)
				&:nth-child(odd)
					background rgba(256, 256, 256, 0.15)
				td, th
					padding 5px
					border-right solid 1px white
					border-bottom solid 1px white
					color #ccc
					transition all 0.5s ease-in-out
					&:hover
						color #fff
					&:last-child
						border-right none
				th
					background rgba(0, 0, 0, 0)
					color white
					font-size 1.2em
