- var href;
i.icon-circle
nav
	each section, title in data
		li
			i(class="icon-#{title}")
			nav
				li
					- href = typeof section._link === "undefined" ? "" : section._link
					a(href="#{href}")= section._text
				each item, link in section
					if link[0] !== "_"
						li: a(href="#{item}")= link
